<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pizzahouseworker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3b9f7a19-bb3c-429c-b1f9-620edfadb655/resourceGroups/rutherson-rg/providers/Microsoft.Web/sites/pizzahouseworker</ResourceId>
    <UserName>$pizzahouseworker</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pizzahouseworker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>